.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Archivo', sans-serif;
    padding-top: 2rem;
}

.header__list {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.header__menu {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.header__logo {
    font-family: 'Clash Display', sans-serif;
    font-size: var(--size-3xl);
    font-weight: 400;
    text-decoration: none;
    color: aliceblue;
}

.header__line {
    border: 1px solid var(--clr-slate600);
    padding-top: 1.5em;
}

.header__sun {
    display: block;
    color: var(--clr-slate600);
    width: var(--size-base);
    height: var(--size-base);
}


/* xs */
@media (min-width: 475px) {
    .header__logo {
        font-size: var(--size-3xl);
    }
}

/* sm */
/* @media (min-width: 640px) {
 
} */

/* md */
@media (min-width: 768px) {
    .header__menu {
        display: none;
    }

    .header__list {
        display: flex;
    }

}

/* lg */
@media (min-width: 1024px) {
    .header__logo {
        font-size: var(--size-5xl);
    }

}

/* xl */
/* @media (min-width: 1280px) {

} */

/* 2xl */
/* @media (min-width: 1536px) {
  
} */