.brands {
    height: 100px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;

}

.brandsContainer {
    display: flex;
    animation: slide 5s linear infinite;
    gap: 1200px;
    height: 100%;
    align-items: center;

}

.brandsWrapper {
    display: flex;
    white-space: nowrap;
    align-items: center;

}

.brandsWrapper img {
    height: 40px;
    color: var(--clr-dark);
    margin-right: 50px;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}