.brands {
    height: 100px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    position: relative
}

.brandsContainer {
    display: flex;
    animation: slide 10s linear infinite;
    gap: 1200px;
    height: 100%;
    align-items: center;

}

.brandsWrapper {
    display: flex;
    white-space: nowrap;
    align-items: center;

}

.brandsContainer:hover {
    animation-play-state: paused;
}

.brandsWrapper img {
    height: 40px;
    color: var(--clr-dark);
    margin-right: 50px;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.arrowDown {
    position: absolute;
    left: 50%;
    bottom: -100px;
    transform-origin: center center;
    animation: blinking 2s linear infinite;

}

.arrowDown svg {
    width: 40px;
    color: var(--clr-dark);
}

.arrowDown:hover {
    transform: scale(1.3);
    transition: all ease-in .2s;
    animation-play-state: paused;
}

@keyframes blinking {
    0% {
        opacity: .5;

    }

    50% {
        opacity: 1;

    }

    100% {
        opacity: .5;

    }
}