.head {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__searchForm {
    width: 30%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 7px 15px;
}

.head__searchbar {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 5px 10px;
    font-size: var(--size-sm);
    color: var(--clr-light);
}

.header__seachbarBtn svg {
    height: 20px;
    width: 20px;
    color: #fff;
}


.head__list {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}

.head__list li svg {
    height: 20px;
    width: 20px;
    color: var(--clr-light)
}

.header__seachbarBtn {}