.gridcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
    width: auto;
    grid-gap: 20px;
}

.grid {
    border: 1px solid black;
}

.cross::before {
    padding: 10px 0;
    background: red;
    width: 5%;
}

.cross::after {
    padding: 0 10px;
    background: rgb(255, 0, 0);
    height: 5%;
}