#grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    height: 80vh;
    width: 100%;
    border: 1px solid red;
}


img {
    height: 100%;
    width: 100%;
}