.divider1 {

    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 2;
}

.divider1 svg {

    display: block;
    width: calc(195% + 1.3px);
    height: 329px;
}

.divider1 .shape-fill {
    fill: #dcfce7;
}

.divider2 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(0);
    background: var(--clr-dark);
}

.divider2 svg {

    display: block;
    width: calc(195% + 1.3px);
    height: 329px;
}

.divider2 .shape-fill {
    fill: #dcfce7;
}