.custom-shape-divider-bottom-1695273333 {

    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1695273333 svg {

    display: block;
    width: calc(195% + 1.3px);
    height: 329px;
}

.custom-shape-divider-bottom-1695273333 .shape-fill {
    fill: #F1F5F9;
}