.head {
    margin-top: 2rem;
    font-family: 'Chillax', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 10%;
    transition: background 0.5s ease;
    z-index: 99999;
    animation: wipe-cinematic-in;

}

.head__list {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 20px;
    cursor: pointer;
}

.head__list li {
    padding: 5px;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease-out;
}

.head__list li:hover {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.nav-active {
    background-color: var(--clr-rose);

}


@keyframes wipe-cinematic-in {
    0% {
        clip-path: inset(100% 0 100% 0);
    }

    30%,
    70% {
        clip-path: inset(10% 0 10% 0);
    }

    100% {
        clip-path: inset(0 0 0 0);
    }
}

[transition-style="in:wipe:cinematic"] {
    animation-name: wipe-cinematic-in;
}