.hero {
    transition: all 0.5s linear;
    opacity: 0;
    z-index: -1;
}


.hero__description-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    width: 100ch;
    gap: 30px;

}

.hero__btn-wrapper {
    display: flex;
    gap: 20px;
}

.hero__img-grid {
    height: 500px;
    width: 1000px;
    flex: 1;
    position: absolute;
    top: -5rem;
    right: -20rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;



}

.grid {
    border: 1px solid black;
    border-radius: 30px;
    z-index: -999;

}

.grid img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    z-index: -999999;
}

.hero {
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: visible;

}

.hero__description-title {
    font-size: var(--size-6xl);
    font-family: 'Panchang', sans-serif;


}

.hero__description-paragraph {
    width: 60ch;
    font-size: var(--size-lg);
    font-family: 'Chillax', sans-serif;
    font-weight: 400;
}

.hero__btn {
    padding: 15px 30px;
    border-radius: 10px;

}

.show {
    opacity: 1;
}

.hero__btn-wrapper {
    z-index: 999;
}

/* Cart */

.CartContainer {

    position: fixed;
    height: 700px;
    width: 500px;
    right: 20px;
    top: 25%;
    z-index: 999;


}

.cartIcon {
    height: 50px;
    width: 50px;
    background: var(--clr-rose);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;

}

.cartIcon svg {
    height: 20px;
    width: 20px;
    color: white;
}

.cartIcon:hover {
    transform: scale(1.3);
}

.itemContainer {
    height: 100%;
    width: 100%;
    border: 1px solid green;
    background: var(--clr-light);
    border-radius: 10px;
    transition: all 0.5s ease-in;
    display: none;
}